.details-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid #000;
  backdrop-filter: blur(10px);
  width: 80%;
  max-width: 1300px;
  height: 70%;
  margin: 10% auto;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}


.scenario-details-item-avatar {
  width: 50%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.scenario-details-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.scenario-details-item-title {
  font-size: 2em;
  font-family: RobotoRegular;
  color: #ccc;
  align-self: center;
}

.scenario-detauls-description-header{
  font-size: 1.5em;
  font-family: RobotoRegular;
  margin-top: 8%;
  color: #ccc;
}

.scenario-details-item-levels {
  font-size: 1em;
  color: #ccc;
  font-family: RobotoRegular;
  margin-top: 2%;
  align-self: center;
}

.scenario-details-info {
  margin-left: 20px;
}

.scenario-details-item-description {
  color: #ccc;
  font-family: RobotoRegular;
  margin-top: 3%;
}

.scenario-details-item-links .linkStyle {
  margin-right: 10px;
}

.scenario-details-buttons {
  padding-top: 35%; /* Pushes "Edit" and "Delete" buttons to the bottom */
  display: flex;
  padding-right: 2%; /* Ensures the buttons are in a row */
  justify-content: space-between; /* Adds space between the buttons */
  width: 100%; /* Ensures the buttons take the full width of the container */
}

.edit-btn,
.delete-btn {
  background-image: url(https://www.dndbeyond.com/_next/static/media/redButtonBorder.6c2b0e20.png);
  background-size: 100% 100%;
  display: block;
  font-family: RobotoRegular;
  font-size: 16px;
  padding: 14px 15px; 
  width: 48%; 
  z-index: 1;
  border-radius: 0;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: rgba(228, 7, 18, 0.847);
  color: #E8E5D9;
  min-width: 0; 
  text-decoration: none;
}
