.scenario-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  /* Border properties */
  backdrop-filter: blur(10px);
  /* Blur effect for the background */
  width: 80%;
  /* Set your desired width */
  max-width: 1300px;
  height: 70%;
  /* Set your desired height */
  margin: 10% auto;
  /* Center horizontally with margin */
  overflow: hidden;
  /* Ensure content doesn't overflow */
  box-sizing: border-box;
  position: relative;
  /* Include padding and border in the total width/height */
}

.table-row {
  position: relative;
  /* Add position relative to establish stacking context */
  display: flex;
  margin-bottom: 10px;
}

.table-cell {
  text-decoration: none;
  color: #333;
  border: 1px solid #ba5858;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.table-cell-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scenario-listing-item-avatar {
  width: 300px;
  height: 300px;
  background-color: #ddd;
  z-index: 1;
  /* Ensure the avatar is above the title */
}

.sources-listing-item-title {
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  font-family: RobotoRegular;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  max-width: 100%; /* Limit the title's width to the avatar's width */
  overflow: hidden; /* Hide any overflowing content */
  white-space: nowrap; /* Prevent the title from wrapping to the next line */
}

.table-row {
  position: relative;
  /* Add position relative to establish stacking context */
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.scenario-listing-item-avatar {
  width: 300px;
  height: 300px;
  background-color: #ddd;
  z-index: 1;
  /* Ensure the avatar is above the title */
}

.no-articles {
  color: #ffffff; /* Set the text color */
  font-size: 18px; /* Set the font size */
  text-align: center; /* Center-align the text */
  margin: 20px 0; /* Add some margin for spacing */
  font-family: RobotoRegular;
}

